{% extends 'dashboard.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
    Delete user
{% endblock %}

{% block links %}
    <a href="{% url 'users_list' %}" class="btn btn-primary text-start py-3">Users</a>
{% endblock %}
{% block data %}
    <div class="row justify-content-center">
        <div class="col-8">
            <p class="fs-2">Delete user</p>
            <form action="" method="post">
                {% csrf_token %}
                <p>Are you sure you want to delete the user <strong>{{ user.get_full_name }}</strong>?</p>

                <button class="btn btn-danger" type="submit">Delete</button>
                <a href="{% url 'users_list' %}" class="btn btn-primary">Abort</a>
            </form>
        </div>
    </div>
{% endblock %}