{% extends 'dashboard.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
    Update | {{ student.get_full_name }}
{% endblock %}

{% block links %}
    <a href="{% url 'users_list' %}" class="btn btn-primary text-start py-3">Users</a>
    <a href="{% url 'subjects_list' %}" class="btn text-start py-3">Subjects</a>
    <a href="{% url 'tuitions_list' %}" class="btn text-start py-3">Tuition</a>
    <a href="{% url 'payments_list' %}" class="btn text-start py-3">Payment</a>
    <a href="{% url 'advertisements_list' %}" class="btn  text-start py-3">Advertisements</a>
{% endblock %}

{% block data %}
    <div class="row justify-content-center">
        <div class="col-8">
            <p class="fs-2">Update Student</p>
            <form action="{% url 'users_update' student.pk %}" method="post">
                {% csrf_token %}
                {{ form|crispy }}

                <input type="submit" value="Update" class="btn btn-primary w-100">
            </form>
        </div>
    </div>
{% endblock %}