{% extends 'base.html' %}
{% load static %}

{% block title %}
    Dashboard
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="container">
            <div class="row vh-100">
                <div class="col col-3 d-flex flex-column py-5">
                    <img class="img-fluid w-50 mx-auto d-block" src="{% static 'logo.jpg' %}" alt="dccph-logo">

                    <p class="fs-4 my-3 py-3 text-center">
                        {% if user.get_full_name %}
                            {{ user.get_full_name }}
                        {% else %}
                            {{ user.username }}
                        {% endif %}
                    </p>
                    {% block links %}

                    {% endblock links %}
                    <a href="{% url 'logout' %}" class="btn btn-outline-danger mt-auto">Logout</a>
                </div>
                <div class="col py-5 vh-100 overflow-y-scroll">
                    {% block data %}

                    {% endblock data %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}