{% extends 'dashboard.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
    Create subject
{% endblock %}

{% block links %}
    <a href="{% url 'users_list' %}" class="btn text-start py-3">Users</a>
    <a href="{% url 'subjects_list' %}" class="btn btn-primary text-start py-3">Subjects</a>
{% endblock %}

{% block data %}
    <div class="row justify-content-center">
        <div class="col-8">
            <p class="fs-2">Create student</p>
            <form action="{% url 'subjects_create' %}" method="post">
                {% csrf_token %}
                {{ form|crispy }}

                <input type="submit" value="Create" class="btn btn-primary w-100">
            </form>
        </div>
    </div>
{% endblock %}